services:
  db:
    image: mariadb:10.6
    pull_policy: always
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}

  redis:
    image: redis:alpine
    pull_policy: always
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
    command: redis-server --loglevel warning  # Minimal logging
    volumes:
      - ./redis:/data

  app:
    image: nextcloud:apache
    pull_policy: always
    restart: always
    ports:
      - 8081:80
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.1'
          memory: 512M
    volumes:
      - /mnt/encrypted_share/nextcloud:/var/www/html
      - ./config:/var/www/html/config
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis


  cron:
    image: nextcloud:apache
    pull_policy: always
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    volumes:
      - /mnt/encrypted_share/nextcloud:/var/www/html
      - ./config:/var/www/html/config
    entrypoint: /cron.sh
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis

  caddy-nextcloud:
    image: caddy:latest
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
